:root {
  font-family: 'Lexend Deca', 'Inter', sans-serif;
  line-height: 1.5;
  background-color: hsl(233, 47%, 7%);
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 350px;
  min-height: 100vh;
  place-items: center;
}
